<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3j0F187bZcKGiXG_mQ1C03rQGvbtFi_M</string>
	<key>GCM_SENDER_ID</key>
	<string>835540149300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.abashop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>abashop-c0fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>abashop-c0fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835540149300:ios:09dc1d630dae6b8c2f5661</string>
</dict>
</plist>